<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>LIUM GO</title>

    <!-- Fav Icon -->
    <link rel="icon" href="/images/IElum/White.png" type="image/x-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap"
        rel="stylesheet">

    <!-- Stylesheets -->
    <link href="/css/font-awesome-all.css" rel="stylesheet">
    <link href="/css/flaticon.css" rel="stylesheet">
    <link href="/css/owl.css" rel="stylesheet">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/jquery.fancybox.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/imagebg.css" rel="stylesheet">
    <link href="/css/color/theme-color.css" id="jssDefault" rel="stylesheet">
    <link href="/css/switcher-style.css" rel="stylesheet">
    <link href="/css/rtl.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/responsive.css" rel="stylesheet">
    <style>
        .testimonial-inner .image-column {
            display: none;
        }
    </style>
</head>


<!-- page wrapper -->

<body class="boxed_wrapper ltr">

    <!-- preloader -->
    <div class="preloader">
        <div class="preloader-icon"></div>
    </div>
    <!-- preloader -->

    <!-- page-direction -->

    <!-- page-direction end -->


    <!-- switcher menu -->
    <!--<div class="switcher">-->
    <!--    <div class="switch_btn">-->
    <!--        <button><i class="fas fa-palette"></i></button>-->
    <!--    </div>-->
    <!--    <div class="switch_menu">-->
    <!--        <div class="switcher_container">-->
    <!--            <ul id="styleOptions" title="switch styling">-->
    <!--                <li>-->
    <!--                    <a href="javascript: void(0)" data-theme="blue" class="blue-color"></a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="javascript: void(0)" data-theme="pink" class="pink-color"></a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="javascript: void(0)" data-theme="violet" class="violet-color"></a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="javascript: void(0)" data-theme="crimson" class="crimson-color"></a>-->
    <!--                </li>-->
    <!--                <li>-->
    <!--                    <a href="javascript: void(0)" data-theme="orange" class="orange-color"></a>-->
    <!--                </li>-->
    <!--            </ul>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--</div>-->
    <!-- end switcher menu -->

    <!-- modal -->
    <!-- <div class="overlay d-flex justify-content-center align-items-center"> -->
    <div class="my-modal d-flex flex-row justify-content-center align-items-center">
        <div class="my-alert fade show d-flex flex-column justify-content-center align-items-center"
            role="alert" style="margin: auto;">
            <button type="button" class="btn-close" onclick=removeModal()>&times;</button>
            <div class="text-center">Join As Driver</div>
            <!-- <div class="d-flex flex-row"> -->

            <img style="height: 200px; width: 200px;"
                src="https://chart.googleapis.com/chart?cht=qr&chl=https%3A%2F%2Fforms.gle%2FBzz2SfRiPbPF6rX79&chs=180x180&choe=UTF-8&chld=L|2">
            <h3 class="text-center">OR</h3>
            <!-- </div> -->
            <div class="d-flex flex-row">
                <div style="background-color: white;border-radius: 8px;text-align: center; margin-right: 5px;">
                    <p id="formLink" style="padding: 2px 10px;">https://forms.gle/XMBho9cAM2jZFi4B7</p>
                </div>
                <button class="btn btn-dark" onclick=copyToClipboard()>Copy</button>
            </div>
            <a href="https://forms.gle/XMBho9cAM2jZFi4B7" class="btn btn-primary mt-5 text-center">Apply Now</a>
        </div>
    </div>
    <!-- </div> -->

    <!-- end modal -->

    <!-- <div style="height: 30px;width: 100%;background-color: #92de90;">
        <p class="text-center" style="color: #fff;">hello</p>
    </div> -->

    <!-- main header -->
    <header class="main-header">
        <div class="outer-container">
            <div class="header-upper clearfix">
                <div class="outer-box pull-left">
                    <!-- <div class="logo-box pull-left">
                        <figure class="logo"><a href="/">
                                <img src="/images/IElum/White.png" style="height: 75px; width: 80px;" alt="">
                            </a></figure>
                    </div> -->
                    <div class="menu-area pull-left">
                        <div class="mobile-nav-toggler">
                            <i class="icon-bar icon-bar-home"></i>
                            <i class="icon-bar icon-bar-home"></i>
                            <i class="icon-bar icon-bar-home"></i>
                        </div>
                        <nav class="main-menu main-menu-homepage navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li class="current dropdown"><a href="/">Home</a>
                                    </li>
                                    <li class="dropdown"><a href="/about">About</a>
                                    </li>
                                    <li class="dropdown"><a href="/services">Services</a></li>
                                    <li class="dropdown"><a href="/electric-fleet">Electric Fleet</a></li>
                                    <li class="dropdown"><a href="/jobs">Jobs</a></li>
                                    <li class="dropdown"><a href="/blogs">Blog</a>
                                    </li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="menu-right-content pull-right">
                    <div class="phone">Call Us <a href="tel:+916263682856">+91 62636 82856</a></div>
                    <!-- <div class="btn-box"><a href="/">Join Driver Community</a></div> -->
                </div>
            </div>
        </div>

        <!--sticky Header-->
        <div class="sticky-header">
            <div class="container clearfix">
                <figure class="logo-box"><a href="/"><img src="/images/IElum/Green-png.png"
                            style="height: 75px; width: 80px;" alt=""></a></figure>
                <div class="menu-area">
                    <nav class="main-menu clearfix">
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- main-header end -->

    <!-- Mobile Menu  -->
    <div class="mobile-menu">
        <div class="menu-backdrop"></div>
        <div class="close-btn"><i class="fas fa-times"></i></div>

        <nav class="menu-box">
            <div class="nav-logo"><a href="/"><img src="/images/IElum/White.png" alt="" title=""></a></div>
            <div class="menu-outer">
            </div>

            <div class="social-links">
                <ul class="clearfix">
                    <li><a href="/"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="/"><span class="fab fa-facebook-square"></span></a></li>
                    <li><a href="/"><span class="fab fa-pinterest-p"></span></a></li>
                    <li><a href="/"><span class="fab fa-instagram"></span></a></li>
                    <li><a href="/"><span class="fab fa-youtube"></span></a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Mobile Menu -->


    <!-- banner-section -->
    <section class="banner-section">
        <!-- <div class="pattern-box">
            <div class="pattern-1 wow slideInDown" data-wow-delay="500ms" data-wow-duration="1500ms"
                style="background-image: url(/images/shape/pattern-1.png);"></div>
            <div class="pattern-2" style="background-image: url(/images/shape/pattern-2.png);"></div>
        </div> -->
        <!-- <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div class="content-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <h1><span class="animation_text_word">LIUM GO</span></h1>
                        <p>Electrifying Logistics, Sustainable Future </p>
                        <div class="btn-box">
                            <a href="/contact" class="theme-btn style-one">Contact Sales &nbsp;
                                <i class="fas fa-arrow-right"></i>
                            </a>
                            <a href="#" class="lightbox-image video-btn" data-caption=""><i
                                    class="flaticon-play"></i>Let's
                                Interact</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div class="image-box wow slideInRight" style="border-radius: 50%;" data-wow-delay="0ms"
                        data-wow-duration="1500ms">

                    </div>
                </div>
            </div>
        </div> -->
        <!-- <div class="banner-container"> -->
        <video autoplay loop muted nocontrols id="background-video">
            <source src="/images/IElum/ape.mp4" type="video/mp4">
        </video>
        <div class="d-flex flex-column justify-content-center align-items-center centred-logo-container"
            style="height: 100%; width: 100%;">
            <img src="/images/IElum/white.png" class="centered-logo" alt="">

            <p>Electrifying Logistics, Sustainable Future</p>
        </div>
        <!-- <div class="btn-box" style="z-index: 10;"><a href="/">Join Driver Community</a></div> -->
        <!-- </div> -->
    </section>
    <!-- banner-section end -->


    <!-- feature-section -->
    <section class="feature-section">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow flipInY" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box js-tilt">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1"></span>
                                    <span class="icon icon-2"></span>
                                    <span class="icon icon-3"></span>
                                </div>
                                <i class="flaticon-tools-and-utensils"></i>
                            </div>
                            <h3><a href="maintaince.html">Green Delivery Revolution</a></h3>
                            <p>Elevate your brand with eco-friendly electric vehicles for sustainable and impactful
                                deliveries.</p>
                            <!-- <div class="btn-box"><a href="./maintaince.html" class="theme-btn style-two">View Pannel</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow flipInY" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box js-tilt">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1"></span>
                                    <span class="icon icon-2"></span>
                                    <span class="icon icon-3"></span>
                                </div>
                                <i class="flaticon-checked"></i>
                            </div>
                            <h3><a href="maintaince.html">Efficiency Redefined</a></h3>
                            <p>Streamline operations with our high-performance electric loading vehicles, ensuring
                                timely and efficient deliveries.</p>
                            <!-- <div class="btn-box"><a href="maintaince.html" class="theme-btn style-two">Find Now</a>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 feature-block">
                    <div class="feature-block-one wow flipInY" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box js-tilt">
                            <div class="icon-box">
                                <div class="anim-icon">
                                    <span class="icon icon-1"></span>
                                    <span class="icon icon-2"></span>
                                    <span class="icon icon-3"></span>
                                </div>
                                <i class="flaticon-pie-chart"></i>
                            </div>
                            <h3><a href="maintaince.html">Partnering for Progress</a></h3>
                            <p>Partner with us and incorporate electric vehicles into your delivery fleet and lead
                                the
                                change towards a greener environment.</p>
                            <!-- <div class="btn-box"><a href="maintaince.html" class="theme-btn style-two">Book Now</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- feature-section end -->


    <!-- about-section -->
    <section class="about-section" id="about">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <div id="image_block_01">
                        <div class="image-box wow slideInLeft" data-wow-delay="0ms"
                            style="box-shadow: inset 3px 4px 10px black;" data-wow-duration="1500ms">
                            <figure class="image js-tilt"><img src="/images/IElum/EV1.jpg" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_01">
                        <div class="content-box">
                            <div class="sec-title wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <p>This is what you need</p>
                                <h2>Get to know our Services </h2>
                            </div>
                            <div class="text wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <p>Lium Go specializes in conquering the logistical challenges presented by diverse
                                    terrains and remote regions, offering exceptional last-mile delivery services.
                                    With
                                    a handpicked fleet of eco-friendly electric 2 and 3 wheelers, we ensure
                                    efficient,
                                    sustainable deliveries around the clock. Our commitment to innovation and
                                    customer
                                    satisfaction sets new industry standards, making us the preferred choice for
                                    seamless last-mile logistics.</p>
                            </div>
                            <ul class="list-item clearfix wow slideInUp" data-wow-delay="600ms"
                                data-wow-duration="1500ms">
                                <li>Efficient Electric Fleet</li>
                                <li>Holistic Approach</li>
                                <li>Diverse Solutions</li>
                            </ul>
                            <!-- <div class="btn-box wow slideInUp" data-wow-delay="900ms" data-wow-duration="1500ms"><a
                                    href="maintaince.html" class="theme-btn style-one">Read More</a></div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-section end -->


    <!-- process-section -->
    <section class="process-section bg-color-1">
        <div class="pattern-box">
            <div class="pattern-1 wow slideInDown animated" data-wow-delay="500ms" data-wow-duration="1500ms"
                style="background-image: url(/images/shape/pattern-3.png)"></div>
        </div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-6 col-sm-12 content-column">
                    <div id="content_block_02">
                        <div class="content-box">
                            <div class="sec-title wow slideInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                                <p>Sparking an Eco-Friendly Delivery Revolution</p>
                                <h2>Go Green with Lium Go</h2>
                            </div>
                            <div class="text wow slideInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <p>
                                    Lium Go spearheads a revolutionary shift in last-mile logistics, fostering
                                    environmentally conscious deliveries. Our electric three-wheelers embody
                                    efficiency
                                    and zero emissions, redefining urban mobility. Here's how to join the movement:
                                </p>
                            </div>
                            <div class="inner-box wow slideInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                                <div class="single-item">
                                    <div class="count-box">1</div>
                                    <h3><a href="/">Explore Our Vision</a></h3>
                                    <div class="text">Dive into our commitment to sustainable progress at Lium Go,
                                        where
                                        innovation meets green logistics.
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="count-box">2</div>
                                    <h3><a href="/">Connect for Change</a></h3>
                                    <div class="text">Reach out to us at <span class="dark-green">+91
                                            9608194579</span>
                                        or
                                        <span class="dark-green">7549244783</span> and explore
                                        opportunities for eco-friendly collaborations.
                                    </div>
                                </div>
                                <div class="single-item">
                                    <div class="count-box">3</div>
                                    <h3><a href="/">Embrace Sustainability</a></h3>
                                    <div class="text">Partner with Lium Go to pioneer cleaner air, reduced
                                        congestion,
                                        and a greener world through electrifying last-mile delivery.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                    <div id="image_block_02">
                        <div class="image-box wow slideInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <img src="/images/IElum/sfgfsgsf.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- process-section end -->


    <!-- service-section -->
    <section class="service-section" id="services">
        <div class="auto-container">
            <div class="sec-title text-center">
                <p>Best Services</p>
                <h2>Explore Our Services</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto service-block">
                    <div class="service-block-one wow fadeInLeft" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <!-- <div class="icon-box"><i class="flaticon-file"></i></div> -->
                            <img class="mb-3"
                                src="https://www.apsfulfillment.com/wp-content/uploads/2017/03/APS_28.jpg"
                                alt="">
                            <h3><a href="/services">Eco-Friendly Deliveries</a></h3>
                            <!-- <p>Revolutionize logistics with sustainable electric last-mile solutions.
                            </p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <!-- <div class="icon-box"><i class="flaticon-machine-learning"></i></div> -->
                            <img class="mb-3"
                                src="https://www.apsfulfillment.com/wp-content/uploads/2017/03/APS_28.jpg"
                                alt="">
                            <h3><a href="/services">Efficient Urban Mobility</a></h3>
                            <!-- <p>Navigate cities seamlessly with our agile electric three-wheelers.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <!-- <div class="icon-box"><i class="flaticon-data-integration"></i></div> -->
                            <img class="mb-3"
                                src="https://www.apsfulfillment.com/wp-content/uploads/2017/03/APS_28.jpg"
                                alt="">
                            <h3><a href="/services">Customized Fleet Solutions</a></h3>
                            <!-- <p>
                                Tailored EV fleet options for diverse business needs.
                            </p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInRight" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <!-- <div class="icon-box"><i class="flaticon-data-analytics"></i></div> -->
                            <img class="mb-3"
                                src="https://www.apsfulfillment.com/wp-content/uploads/2017/03/APS_28.jpg"
                                alt="">
                            <h3><a href="/services">Charging Infrastructure Network</a></h3>
                            <!-- <p>Establishing EV charging stations for hassle-free operations.</p> -->
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <!-- <div class="icon-box"><i class="flaticon-laptop"></i></div> -->
                            <img class="mb-3"
                                src="https://www.apsfulfillment.com/wp-content/uploads/2017/03/APS_28.jpg"
                                alt="">
                            <h3><a href="/services">Collaboration & Partnerships</a></h3>
                            <!-- <p>Join hands for greener deliveries through strategic alliances.</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-one wow fadeInRight" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <!-- <div class="icon-box"><i class="flaticon-robot"></i></div> -->
                            <img class="mb-3"
                                src="https://www.apsfulfillment.com/wp-content/uploads/2017/03/APS_28.jpg"
                                alt="">
                            <h3><a href="/services">Innovative Mobility Consulting</a></h3>
                            <!-- <p>Expert guidance for embracing electric mobility transformation.</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->


    <!-- testimonial-section -->
    <section class="testimonial-section">
        <div class="pattern-box">
            <div class="pattern-1 wow slideInLeft animated" data-wow-delay="500ms" data-wow-duration="1500ms"
                style="background-image: url(/images/shape/pattern-4.png)"></div>
            <div class="pattern-2" style="background-image: url(/images/shape/pattern-2.png)"></div>
        </div>
        <div class="auto-container">
            <div class="testimonial-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>
                                                Switching to Lium Go for my delivery fleet was a game-changer! Their
                                                electric vehicles are reliable and their service is top-notch.
                                                Definitely a smart investment.
                                            </h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Deepak Sharma</h3>
                                            <span class="designation">Businessman</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>Impressed by Lium Go’s commitment to sustainability. Their electric
                                                vehicles not only cut emissions but also boost our brand's
                                                eco-friendly
                                                image. A win-win partnership!</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Nikhil Taneja</h3>
                                            <span class="designation">Businessman</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-10 col-md-12 col-sm-12 offset-lg-1 inner-column">
                        <div class="testimonial-inner">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                    <figure class="image-box"><img src="/images/resource/testimonial-1.jpg" alt="">
                                    </figure>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 content-column">
                                    <div class="content-box">
                                        <div class="sec-title">
                                            <p>Testimonials</p>
                                            <h2>What Clients Say?</h2>
                                        </div>
                                        <div class="icon-box"><i class="flaticon-left-quotes-sign"></i></div>
                                        <div class="text">
                                            <h5>Lium Go’s electric fleet transformed our last-mile delivery
                                                efficiency.
                                                I'm pleased with their vehicles' performance and the cost savings
                                                they
                                                bring.</h5>
                                        </div>
                                        <div class="author-info">
                                            <h3>Yash Gupta</h3>
                                            <span class="designation">Businessman</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-section end -->


    <!-- project-section -->
    <section class="project-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <p>Electric Fleet</p>
                <h2>Our Vehicle Services</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="/images/IElum/tataace.jpg" alt="">
                                </figure>
                                <a href="/images/IElum/tataace.jpg" class="lightbox-image view-btn"
                                    data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="/electric-fleet">TATA Ace</a></h3>
                                <span>This is the electric vehicle with load capacity 500kg.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder pt-5">
                                <figure class="image-box">
                                    <img src="/images/IElum/tataace2.jpg" alt="">
                                </figure>
                                <a href="/images/IElum/tataace2.jpg" class="lightbox-image view-btn"><i
                                        class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="/electric-fleet">TATA Ace Electric Vehicle</a></h3>
                                <span>This is the electric vehicle with load capacity 500kg.</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 project-block">
                    <div class="project-block-one wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box">
                                    <img src="/images/IElum/logo.jpg" alt="">
                                </figure>
                                <a href="/images/IElum/logo.jpg" class="lightbox-image view-btn"
                                    data-fancybox="gallery"><i class="fas fa-search-plus"></i></a>
                            </div>
                            <div class="lower-content">
                                <h3><a href="/electric-fleet">Electric Vehicle 3</a></h3>
                                <span>This is the electric vehicle with load capacity 500kg.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- project-section end -->

    <!-- news-section -->
    <section class="news-section" id="blog">
        <div class="pattern-layer wow slideInRight animated" data-wow-delay="500ms" data-wow-duration="1500ms"
            style="background-image: url(/images/shape/pattern-2.png)"></div>
        <div class="auto-container">
            <div class="sec-title text-center">
                <p>Recent Article</p>
                <h2>Stay Updated with <span style="color: #92de90;">LIUM GO</span></h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box"><img src="/images/news/rankweb.png" alt=""></figure>
                                <div class="post-date"><i class="fas fa-calendar-alt"></i>
                                    <p>Dec 23</p>
                                </div>
                                <div class="link"><a href="blog-details.html"><i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span>by</span>&nbsp;<a href="blog-details.html">Nicolas</a></li>
                                    <li><a href="./b1.html">3 Comments</a></li>
                                </ul>
                                <h3><a href="blog-details.html">Revolutionizing Deliveries with EV Tempos -
                                        The LIUM GO Advantage</a>
                                </h3>
                                <p>
                                    In the ever-evolving landscape of logistics, a silent revolution is underway
                                    that
                                    promises to reshape the way we receive our packages and goods <a
                                        href="blog-details.html">Read
                                        more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box"><img src="/images/news/hackathon.png" alt=""></figure>
                                <div class="post-date"><i class="fas fa-calendar-alt"></i>
                                    <p>Dec 22</p>
                                </div>
                                <div class="link"><a href="blog-details.html"><i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span>by</span>&nbsp;<a href="blog-details.html">Hinter</a></li>
                                    <li><a href="blog-details.html">5 Comments</a></li>
                                </ul>
                                <h3><a href="blog-details.html">The New Era of EV Trends, News, and LIUM GO
                                        Insights</a></h3>
                                <p>The world is at the cusp of a transformative era in transportation, one that is
                                    defined by electric vehicles (EVs) spearheading the charge towards
                                    sustainability
                                    and innovation <a href="blog-details.html">Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="image-holder">
                                <figure class="image-box"><img src="/images/news/trade.png" alt=""></figure>
                                <div class="post-date"><i class="fas fa-calendar-alt"></i>
                                    <p>Dec 21</p>
                                </div>
                                <div class="link"><a href="blog-details.html"><i class="fas fa-arrow-right"></i></a>
                                </div>
                            </div>
                            <div class="lower-content">
                                <ul class="post-info">
                                    <li><span>by</span>&nbsp;<a href="blog-details.html">Tailor</a></li>
                                    <li><a href="blog-details.html">4 Comments</a></li>
                                </ul>
                                <h3><a href="blog-details.html">The Mandatory and Beneficial EV Revolution, with
                                        LIUM GO
                                        Leading
                                        the Way</a></h3>
                                <p>
                                    The global landscape is undergoing a seismic shift, one that promises to
                                    redefine
                                    the way we travel, interact with the environment.
                                    <a href="blog-details.html">Read more...</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news-section end -->


    <!-- cta-section -->
    <section class="cta-section bg-color-2">
        <div class="pattern-box">
            <div class="pattern-1" style="background-image: url(/images/shape/pattern-7.png);"></div>
            <div class="pattern-2" style="background-image: url(/images/shape/pattern-8.png);"></div>
        </div>
        <div class="auto-container">
            <div class="content-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <h2>Join EV Revolution with LIUM GO</h2>
                <a href="/" class="theme-btn style-three">Join Us</a>
            </div>
        </div>
    </section>
    <!-- cta-sectione end -->


    <!-- main-footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <div class="footer-top">
                <div class="widget-section wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget logo-widget">
                                <figure class="footer-logo"><a href="/"><img src="/images/IElum/green-png.png"
                                            style="zoom: 1.5;" alt=""></a></figure>
                                <div class="text">
                                    <!-- <p>Lorem ipsum dolor amet consectetur adipielit sed eiusm tempor incididunt ut
                                        labore dolore.</p> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Quick Link</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/">Company History</a></li>
                                        <li><a href="/">About Us</a></li>
                                        <li><a href="/">Contact Us</a></li>
                                        <li><a href="/">Services</a></li>
                                        <li><a href="/">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget links-widget">
                                <div class="widget-title">
                                    <h3>Services</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li><a href="/">Company History</a></li>
                                        <li><a href="/">About Us</a></li>
                                        <li><a href="/">Contact Us</a></li>
                                        <li><a href="/">Services</a></li>
                                        <li><a href="/">Privacy Policy</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                            <div class="footer-widget contact-widget">
                                <div class="widget-title">
                                    <h3>Contact Info</h3>
                                </div>
                                <div class="widget-content">
                                    <ul>
                                        <li>Leela Tower, Sonagiri Square, Bhopal, Madhya Pradesh - 462022</li>
                                        <li><a href="tel:23055873407">+91 62636 82856</a></li>
                                        <li><a href="mailto:sakshi@liumgo.com">sakshi@liumgo.com</a></li>
                                    </ul>
                                </div>
                                <ul class="social-links clearfix">
                                    <li><a href="/"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="/"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="/"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="/"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom clearfix">
                <div class="copyright pull-left">
                    <p><a href="/">LIUM GO</a> &copy; 2023 All Right Reserved</p>
                </div>
                <ul class="footer-nav pull-right">
                    <li><a href="/">Terms of Service</a></li>
                    <li><a href="/">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!-- main-footer end -->



    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>


    <!-- jequery plugins -->
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/validation.js"></script>
    <script src="/js/jquery.fancybox.js"></script>
    <script src="/js/appear.js"></script>
    <script src="/js/scrollbar.js"></script>
    <script src="/js/tilt.jquery.js"></script>
    <script src="/js/jQuery.style.switcher.min.js"></script>
    <script src="/js/plugins.js"></script>
    <script src="/js/text_animation.js"></script>

    <!-- main-js -->
    <script src="/js/script.js"></script>
    <script>
        const removeModal = () => {
            const modal = document.querySelector(".my-modal")
            modal.remove()
        }
        const copyToClipboard = () => {
            var textToCopy = $('#formLink').text();
            var tempTextarea = $('<textarea>');
            $('body').append(tempTextarea);
            tempTextarea.val(textToCopy).select();
            document.execCommand('copy');
            tempTextarea.remove();
        }
    </script>

</body><!-- End of .page_wrapper -->

</html>